body {
  background: grey;
  padding: 2em;
}

.title {
  color: black;
  font-family: Constantia;
  text-align: center;
}

.user-profile {
  margin: auto;
  width: 29em;
  height: 14em;
  background: grey;
  border-radius: .3em;
}



.user-profile  #name {
  margin-top: -4.40em;
  margin-left: 10em; // 5.80em;
  color: black;
  font-size: 1.53em;
  font-family: "JetBrains Mono ExtraBold";
  font-weight: bold;
}



.description {
  border: black 5px solid;
  box-shadow: 0px 0px 100px black;
  margin: auto;
  margin-top: 1.35em;
  margin-right: 3em;
  width: 18em;
  color: black;
  font-size: .87em;
  font-family: "Book Antiqua";
}

#username, #email, #city{
  display: inline-block;
  color: black;
  font-size: 1em;
  font-weight: bold;
  font-family: "Book Antiqua";
}

button {
  margin: 3em auto;
  height: 2em;
  background: black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  font-family: "Book Antiqua";
  font-size: 20px;
}

button:hover {
  background: grey;
}